Django==5.1.8
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
python-dotenv==1.0.1
dotenv==0.9.9
psycopg2-binary==2.9.10
redis==5.2.1
channels==4.2.2
channels_redis==4.2.1
asgiref==3.8.1

celery==5.4.0
kombu==5.5.1
billiard==4.2.1
vine==5.1.0
django-redis==5.4.0
daphne==4.1.2
gunicorn==20.1.0
stripe==11.6.0

reportlab==4.3.1
weasyprint==65.1
pydyf==0.11.0
pyphen==0.17.2
tinycss2==1.4.0
cssselect2==0.8.0
fonttools==4.57.0
webencodings==0.5.1
Brotli==1.1.0
zopfli==0.2.3.post1
tinyhtml5==2.0.0

boto3==1.37.37
botocore==1.37.37
django-storages==1.14.6

pytest==8.3.5
pytest-django==4.10.0
pytest-asyncio==0.26.0
pytest-mock==3.14.0
pytest-sqlalchemy==0.3.0
coverage==7.8.0

django-cors-headers==4.7.0
django-debug-toolbar==5.1.0

cryptography==44.0.2
PyJWT==2.9.0
pyOpenSSL==25.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
cffi==1.17.1
pycparser==2.22

requests==2.32.3
urllib3==2.3.0
idna==3.10
charset-normalizer==3.4.1
chardet==5.2.0
attrs==25.3.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
typing_extensions==4.12.2
packaging==24.2
setuptools==76.0.0
pip==25.1.1

prompt_toolkit==3.0.51
iniconfig==2.0.0
six==1.17.0
jmespath==1.0.1
service-identity==24.2.0
automat==24.8.1
autobahn==24.4.2
twisted==24.11.0
constantly==23.10.4
hyperlink==21.0.0
incremental==24.7.2
zope.interface==7.2
